<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div class="nav-icons">
		<div class="nav-item" onclick="location.href='/'">
			<span>로고</span>
		</div>
		<div class="nav-item" onclick="location.href='/login.do'">
			<span>로그인</span>
		</div>
		<div class="nav-item" onclick="location.href='/regist.do'">
			<span>회원가입</span>
		</div>
		<div class="nav-item" onclick="location.href='/index.do'">
			<span>메인페이지</span>
		</div>
		<div class="nav-item" onclick="location.href='/mypage.do'">
			<span>마이페이지</span>
		</div>
	</div>
	<h1>로그인 에러</h1>
	<a href="login.do">로그인</a>
</body>

</html>